img{
    height:4vh;
    width: 20vw;
    margin: 2%;
}
@media (max-width: 753px){
    img{
        display: none;
    }

}
body{
    background-image: url(/imges/alps.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    --bs-navbar-nav-link-padding-x: 3.5rem !important;

}
.navbar:hover{
    background-color: #f8f9fa;
}

.btn{
    background-color: #f8f9fa43;
}
#form-id{
    justify-content: center;
    margin-top: 18vh;
}

.col-md-6{
    border: 3px solid  #f8f9fa43;
    border: 3px solid #9f85f0;;
    padding: 3%;
    border-radius: 3%;
}

#footer{
    margin-top: 10vh;
  }