img{
    height:4vh;
    width: 20vw;
    margin: 2%;
}
@media (max-width: 753px){
    img{
        display: none;
    }

}
body{
    background-image: url(/imges/alps.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
  background-color: #f8f9fa;
  --bs-navbar-nav-link-padding-x: 3.5rem !important;
}

div.slide-up {
  height:200px;
  overflow:hidden;
}
div.slide-up {
  animation: 10s slide-up;
  margin-top:0%;
}

@keyframes slide-up {
  from {
    margin-left: 100%;
    height: 300%; 
  }

  to {
    margin-left: 0%;
    height: 100%;
  }
}


