#logo{
    height:4vh;
    width: 20vw;
    margin: 2%;
}
@media (max-width: 753px){
    #logo{
        display: none;
    }

}
body{
    background-image: url(/imges/alps.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    background-color: #f8f9fa;
    --bs-navbar-nav-link-padding-x: 3.5rem !important;
}

.btn{
    background-color: #f8f9fa43;
}
div> .table{
    margin-top: 21vh;
    margin-left: 20vh ;
    height: 10% !important;
    width: 10% !important;
    --bs-table-border-color: #9f85f0 ;

}
#footer{
    margin-top: 10vh;
  }
